<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.passwordmanager.mapper.PasswordMapper">

    <resultMap id="passwordRecorderMap" type="passwordRecord">
        <result property="domainName" column="domain_name"/>
        <result property="passwordStrength" column="password_strength"
                javaType="com.d.passwordmanager.command.constant.PasswordStrength"
                jdbcType="INTEGER" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>
    <insert id="insertOne">
        INSERT INTO password_record (domain_name, description, username, password, password_strength)
        VALUES (#{domainName}, #{description}, #{username}, #{password}, #{passwordStrength})
    </insert>
    <insert id="insertByList">
        INSERT INTO password_record (domain_name, description, password, password_strength, username)
        <foreach collection="list" item="item" open="VALUES " separator="," close="" index="index">
            (#{item.domainName}, #{item.description}, #{item.password}, #{item.passwordStrength}, #{item.username})
        </foreach>
    </insert>
    <update id="updateById">
        UPDATE password_record
        <set>
            <if test="domainName != null and domainName != ''">
                domain_name = #{domainName} ,
            </if>
            <if test="description != null and description != ''">
                description = #{description} ,
            </if>
            <if test="username != null and username != ''">
                username = #{username} ,
            </if>
            <if test="password != null and password != ''">
                password = #{password} ,
            </if>
            <if test="passwordStrength != null">
                password_strength = #{passwordStrength} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteByIds">
        DELETE FROM password_record
        <foreach collection="ids" item="id" open="WHERE id IN (" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteAll">
        DELETE FROM password_record
    </delete>
    <select id="selectByKeyword" resultMap="passwordRecorderMap">
        SELECT id, domain_name, description, password, password_strength, username
        FROM password_record
        <if test="keyword != null and keyword != ''">
            WHERE
            domain_name LIKE '%' || #{keyword} || '%'
            OR
            description LIKE '%' || #{keyword} || '%'
            OR
            username LIKE '%' || #{keyword} || '%'
        </if>
    </select>
</mapper>